<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.larsonapps.popularmovies">
    <!-- This permission is necessary in order for Sunshine to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.larsonapps.popularmovies.MovieDetailsActivity"
            android:label="@string/movie_detail"
            android:parentActivityName="com.larsonapps.popularmovies.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.larsonapps.popularmovies.MainActivity" />
        </activity>
        <activity
            android:name="com.larsonapps.popularmovies.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="com.larsonapps.popularmovies.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.larsonapps.popularmovies.MainActivity" />
        </activity>
        <activity android:name="com.larsonapps.popularmovies.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>